body.light-theme {
    background-color: #d3d3d3; /* Soft gray */
    color: #000000;
}

body.dark-theme {
    background-color: #000000; /* Black */
    color: #ffffff;
}

.profile-picture img {
    width: 150px;
    border-radius: 50%;
}

.tabbar button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.section button {
    display: block;
    padding: 10px;
    margin: 5px 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-picture {
    margin-bottom: 20px;
}

.tabbar {
    margin-bottom: 20px;
}

.section button {
    margin: 10px 0;
}
